/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Inter", sans-serif;
}

/* Header Part */

.nav a {
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #6b7280;
  text-decoration: none;
  padding: 0.75rem 2rem;

}

/* Header Part*/

/* Footer Part */
.footerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  height: 25.56rem;
  margin-top: 5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 2rem;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footerInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
}

.links-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0px;
  gap: 20px;
}

.footerText {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 125%;
}

.mail {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  color: #db2020;
}

.links-footer p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #0a0a14;
}

.githubFooter {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #00ab6b;
  text-decoration: none;
}

.linkedinFooter {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #0077b5;
  text-decoration: none;
}

/* Footer Part */
/* Header Part */
.headersection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 2rem;
}

.nav {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.nav Link {
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #6b7280;
  text-decoration: none;
  padding: 0.75rem 2rem;
}


.background {
  border-radius: 6px;
  background-color: #3730a3;
}

.background p {
  color: white;
}

.nav a:hover {
  border: 1px solid#2b1fd1;
  color: #2b1fd1;
  font-weight: 500;
  border-radius: 6px;
  background-color: #ffffff;
}

/* Header Part*/

/*  Bio Part*/
.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 2rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 0.75rem;
}

.bio-image {
  width: 28rem;
  height: auto;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  border-radius: 18px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #3730a3;
}

.line {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.name-line {
  margin-bottom: 0.6rem;
}

.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: #1f2937;
}

.intro {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #6b7280;
  width: 37.25rem;
}

.hire-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.25rem 0.75rem 0.75rem;
  gap: 0.625rem;
  width: 7.9rem;
  height: 2.25rem;
  border: 1px solid #3730a3;
  background: #3730a3;
  border-radius: 6px;
}

.hire-button .hiremeText {
  color: #ffffff;
  font-size: 1.125rem;
}

.hire-button:hover {
  background-color: #c4e2e4;
}

.github-button:hover {
  background-color: #c4e2e4;
}

.linkedin-button:hover {
  background-color: #c4e2e4;
}

.github-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.25rem 0.75rem 0.75rem;
  gap: 0.625rem;
  width: 7.9rem;
  height: 2.25rem;
  background: #ffffff;
  border: 1px solid #3730a3;
  border-radius: 6px;
}

.linkedin-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.25rem 0.75rem 0.75rem;
  gap: 0.625rem;
  width: 7.9rem;
  height: 2.25rem;
  background: #ffffff;
  border: 1px solid #3730a3;
  border-radius: 6px;
}

.buttons a {
  font-size: 1.125rem;
  color: #6b7280;
  text-decoration: none;
}

/* Bio Part*/

/* Profile Part */
.profileContainer {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-family: "Inter", sans-serif;
  color: #6b7280;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  border-top: 2px solid #c4e2e4;
}

.profile-infoCol {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.profile-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3rem;
  color: #1f2937;
}

.profile-infoText {
  display: flex;
}

.profile-box {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
}

.second {
  display: flex;
}

.keys {
  display: flex;
  flex-direction: column;
  width: 12rem;
  margin-right: 3rem;
}

.values {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin-right: 3rem;
}

.content-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 1.85rem;
  line-height: 1.75rem;
  color: #3730a3;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.keys p {
  font-style: normal;
  font-weight: bold;
  color: #000000;
  font-size: 1.125rem;
  line-height: 200%;
}

.values p {
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 200%;
}

.about-box p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
}

.about-box {
  padding-right: 6rem;
}

/* Profile Part */

/* Skills Part */

.skillsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  flex-wrap: wrap;

}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;

}

.skillsContent {
  display: flex;
  flex-direction: column;
  width: 80%;

}

.skill-heading {
  display: flex;
  flex-direction: row;

}

.skill-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 7.5rem;

}

.heading-list {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  color: #1f2937;
  margin-bottom: 2rem;

}

.list {
  display: flex;
  width: 30%;

}

.skill-list h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 28px;
  color: #3730a3;
  margin-bottom: 2rem;

}

.skill-list p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #6b7280;
  margin-bottom: 1rem;
}

/* Skills Part */

body.dark-mode {
  background-color: #252128;
  color: #c4e2e4;
}

.footerSection.dark-mode {
  background-color: #252128;
  color: #c4e2e4;
}

.heading.dark-mode {
  color: #aebccf;
}

.heading-list.dark-mode {
  color: #aebccf;
}

.profile-heading.dark-mode {
  color: #aebccf;
}

/*-----Projects----*/
.projectsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-top: 2px solid #c4e2e4;
}

.projectsContainer {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}

.proje {
  display: flex;
  gap: 4rem;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  width: 27%;
  margin-top: 2rem;
}

.programs {
  display: flex;
  gap: 10px;
}

.programs p {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 18px 7px;
  border: 1px solid #3730a3;
  border-radius: 4px;
  margin-top: 1rem;
  color: #3730a3;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 11px;
  margin-top: 2rem;
}

.links a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #3730a3;
}

.description-project {
  margin-bottom: 2rem;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #6b7280;
}

h1.profile-baslik {
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-top: 4rem;
}

/* Responsive*/

@media only screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .heroSection,
  .skillsContent,
  .skills,
  .profile,
  .profile-infoCol,
  .profile-infoText,
  .projects,
  .proje,
  .links-footer {
    display: flex;
    flex-direction: column;
  }

  .bio-image {
    width: 16rem;
    height: auto;
    margin-top: 2rem;
  }

  .nav {
    gap: 1.5rem;
  }

  .list {
    width: 100%;
  }

  .footerSection {
    width: 100%;
  }
}